#tooltip {
    position: absolute;
    text-align: left;
    width: 120px;
    height: 20px;
    padding: 8px;
    margin-top: -20px;
    font: 10px sans-serif;
    background: #ddd;
    pointer-events: none;
  }